<li>
	{{burger_name}}

    {{#unless devoured }}<button id="{{id}}" class="" data-id="{{id}}" data-devour="true">
        Devour Da burger!</button>{{/unless}}
        Devour!</button>{{/unless}}
		
	<button class="deleteburger" data-id="{{this.id}}">DELETE!</button>

	
</li>
