body {
    background-color: #FF795B;
}
/* eat-da-burger title section styles */
.jumbotron {
    margin-top: 60px;   
}

#photo {
    margin-bottom: 20px;
}


ul {
    list-style-type: none;
    text-align: left;
    /* margin-left: -40px;  */
}

.list-burgers {
    border: solid black 1px;
    /* margin-left: -20px; */
}

.list-group {
    font-size: 14px;
    
    
}