body {
    background-color: #FF795B;
}
/* eat-da-burger title section styles */
.jumbotron {
    margin: 60px 40px 0px 40px;
}

#photo {
    margin-bottom: 20px;
}

.da-burgers {
    margin-bottom: 20px;
}